
body {
  font-family: sans-serif;
  /*background-color: #1E3A8A;*/
  background: linear-gradient(135deg, #1E3A8A, #079dbb);

  justify-content: center;
  align-items: stretch;
  color: #BEE3F8;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

p {
  margin-bottom: 2rem; 
  line-height: 1.6;  
  color: #FFFFFF   
}



h1 {
  margin-bottom: 2rem; 
  text-align: center;
  color: rgb(255, 174, 0);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);

}

h4 {
  text-align: center;
  font-size: 1.5rem;  
  margin: 2rem 0 1rem;   
  margin-top: 4rem;   
  color: #FFBF00;   
    position: relative;         /* necesario para el ::after*/ 
   
}

h4::after {
  content: "";
  display: block;
  width: 50px;               /* ancho de la línea */
  height: 2px;               /* grosor de la línea */
  background-color: #FFBF00; /* mismo amarillo que el título */
  margin: 0.5rem auto 0;     /* espacio arriba y centrado horizontalmente */
  border-radius: 2px;        /* bordes redondeados para suavizar */
}

a {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
a:hover {
  background-color: #005fa3;
}

cabeceraP{
display: block; /* importante para que se comporte como un <p> */
  margin: 1em 0;
  color: #F5F5F5;

}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 1rem;
  gap: 1.5rem;       /* un poco más de separación */

}

.item {
  width: 110px;
  height: 140px;
  padding: 0.5rem;               /* espacio extra para logo + texto */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
  text-align: center;
    background-color: rgba(255, 255, 255, 0.05); /* fondo transparente oscuro */
  border-radius: 12px;          /* bordes suaves */
  box-shadow: 0 4px 10px rgba(0,0,0,0.4); /* sombra para profundidad */
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.item img {
  height: 80px;  
  max-width: 100%;  
  width: auto;     
  object-fit: contain;
  display: block;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.item img:hover {
  transform: translateY(-5px) scale(1.05); /* elevación + zoom al pasar mouse */
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);

}

.item p {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
    color: #FFFFFF; /* texto blanco sobre tarjeta */

}
