body {
  font-family: sans-serif;
  background-color: #0B1D2F;
  justify-content: center;
  align-items: stretch;
  color: #E0E0E0;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

p {
  margin-bottom: 2rem; 
  line-height: 1.6;  
  color: #A0D8EF 
}



h1 {
  margin-bottom: 2rem; 
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 1.5rem;  
  margin: 2rem 0 1rem;   
  margin-top: 4rem;   
  color: #00CFFF;      
}

a {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
a:hover {
  background-color: #005fa3;
}

cabeceraP{
display: block; /* importante para que se comporte como un <p> */
  margin: 1em 0;
  color: #F5F5F5;

}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 1rem;
}

.item {
  width: 120px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
  text-align: center;
}

.item img {
  height: 80px;  
  max-width: 100%;  
  width: auto;     
  object-fit: contain;
  display: block;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.item img:hover {
  transform: scale(1.05);
}

.item p {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}
